<div class="div-wrapper">



  <p>Fonts:</p>
  <mat-divider></mat-divider>
  <p>"Roboto"</p>
  <p>Regular 400 / Regular 400 / italic Medium 500 / Bold 700</p>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">H1</div>
    <div class="example-button-row">
      <h1 class="mat-h1 m-0">
        Header H126 / 32
      </h1>
    </div>
  </section>

  <mat-divider></mat-divider>
  <section>
    <div class="example-label">H2</div>
    <div class="example-button-row">
      <h2 class="mat-h2 m-0">
        Header H2 22 / 26
      </h2>
    </div>
  </section>

  <mat-divider></mat-divider>
  <section>
    <div class="example-label">H3</div>
    <div class="example-button-row">
      <h3 class="mat-h3 m-0">
        Header H3 18 / 22
      </h3>
    </div>
  </section>

  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Body 1</div>
    <div class="example-button-row">
      <h4 class="mat-h4 m-0">
        Body big medium 16 / 20
      </h4>
    </div>
  </section>

  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Body 2</div>
    <div class="example-button-row">
      <p class="mat-body-1 m-0">
        Body big 16 / 20
      </p>
    </div>
  </section>

  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Body 3</div>
    <div class="example-button-row">
      <p class="mat-body-2 m-0">
        Body Medium 14 / 20
      </p>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Body 4</div>
    <div class="example-button-row">
      <p class="mat-display-1 m-0">
        Body 14 / 20
      </p>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Caption 1</div>
    <div class="example-button-row">
      <p class="mat-display-2 m-0 cap-c">
        Caption medium 12 / 16
      </p>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Caption 2</div>
    <div class="example-button-row">
      <p class="mat-display-3 m-0 cap-c">
        Caption 12 / 16
      </p>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Badge 1</div>
    <div class="example-button-row">
      <p class="mat-caption m-0">
        Badge black 10 / 12
      </p>
    </div>
  </section>
  <mat-divider></mat-divider>
  <p>Colors:</p>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Action</div>
    <div class="example-button-row">
      <p>
        Static
      </p>
    </div>
    <div class="example-button-row">
      <p>
        Hover
      </p>
    </div>
    <div class="example-button-row">
      <p>
        Active
      </p>
    </div>
    <div class="example-button-row">
      <p>
        Disabled
      </p>
    </div>
  </section>

  <section>
    <div class="example-label">Basic dark</div>
    <div class="example-button-row">
      <div class="example-color-pie basic-dark-static">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie-none">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie-none">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie-none">
      </div>
    </div>
  </section>

  <section>
    <div class="example-label">Basic light</div>
    <div class="example-button-row">
      <div class="example-color-pie basic-light-static">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie basic-light-hover">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie basic-light-active">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie-none">
      </div>
    </div>
  </section>

  <section>
    <div class="example-label">Main primary</div>
    <div class="example-button-row">
      <div class="example-color-pie main-primary-static">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie main-primary-hover">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie main-primary-active">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie-none">
      </div>
    </div>
  </section>

  <section>
    <div class="example-label">Main secondary</div>
    <div class="example-button-row">
      <div class="example-color-pie main-secondary-static">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie main-secondary-hover">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie main-secondary-active">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie-none">
      </div>
    </div>
  </section>

  <section>
    <div class="example-label">Main tertiary</div>
    <div class="example-button-row">
      <div class="example-color-pie main-teritary-static">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie main-teritary-hover">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie main-teritary-active">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie main-teritary-disabled">
      </div>
    </div>
  </section>

  <section>
    <div class="example-label">Accent primary</div>
    <div class="example-button-row">
      <div class="example-color-pie accent-primary-static">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie accent-primary-hover">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie accent-primary-active">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie accent-primary-disabled">
      </div>
    </div>
  </section>

  <section>
    <div class="example-label">Accent primary</div>
    <div class="example-button-row">
      <div class="example-color-pie accent-secondary-static">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie accent-secondary-hover">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie accent-secondary-active">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie accent-secondary-disabled">
      </div>
    </div>
  </section>

  <section>
    <div class="example-label">Accent primary</div>
    <div class="example-button-row">
      <div class="example-color-pie accent-alert-static">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie accent-alert-hover">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie accent-alert-active">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie accent-alert-disabled">
      </div>
    </div>
  </section>

  <section>
    <div class="example-label">Accent primary</div>
    <div class="example-button-row">
      <div class="example-color-pie accent-warning-static">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie accent-warning-hover">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie accent-warning-active">
      </div>
    </div>
    <div class="example-button-row">
      <div class="example-color-pie accent-warning-disabled">
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <p>Icons:</p>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <section>

    <div class="example-button-row">
      <i class="material-icons example-button-row">keyboard_arrow_down</i>
      <i class="material-icons example-button-row">get_app</i>
      <i class="material-icons example-button-row">donut_large</i>
      <i class="material-icons example-button-row">account_circle</i>
      <i class="material-icons example-button-row">arrow_back</i>
      <i class="material-icons example-button-row">arrow_forward</i>
      <i class="material-icons example-button-row">edit</i>
      <i class="material-icons example-button-row">file_copy</i>
      <i class="material-icons example-button-row">backspace</i>
      <i class="material-icons example-button-row">person_add</i>
      <i class="material-icons example-button-row">close</i>
      <i class="material-icons example-button-row">delete</i>
      <i class="material-icons example-button-row">settings</i>
      <i class="material-icons example-button-row">attach_file</i>
      <i class="material-icons example-button-row">textsms</i>
      <i class="material-icons example-button-row">date_range</i>
      <i class="material-icons example-button-row">search</i>
      <i class="material-icons example-button-row">assignment_ind</i>
      <i class="material-icons example-button-row">library_add</i>
      <i class="material-icons example-button-row">exit_to_app</i>
      <i class="material-icons example-button-row">priority_high</i>
      <i class="material-icons example-button-row">home</i>


    </div>
  </section>
  <mat-divider></mat-divider>


  <p>Buttons / Icons:</p>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Blue(static/ hover /active), TextIcon and Disabled</div>
    <div class="example-button-row">
      <button mat-flat-button class="basic-button basic-blue" disableRipple>Assign</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="basic-button basic-blue" disableRipple disabled>Assign</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="text-icon-button basic-blue" disableRipple>
        <i class="material-icons custom-icon-button">person_add</i>
        Change assignee...
      </button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="text-icon-button basic-blue" disableRipple disabled>
        <i class="material-icons custom-icon-button">person_add</i>
        Change assignee...
      </button>
    </div>
  </section>
  <section>
    <div class="example-label">Green (static/ hover /active), TextIcon and Disabled</div>
    <div class="example-button-row">
      <button mat-flat-button class="basic-button basic-green" disableRipple>Save</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="basic-button basic-green" disableRipple disabled>Save</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="text-icon-button basic-green" disableRipple>
        <i class="material-icons custom-icon-button">person_add</i>
        Change assignee...
      </button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="text-icon-button basic-green" disableRipple disabled>
        <i class="material-icons custom-icon-button">person_add</i>
        Change assignee...
      </button>
    </div>
  </section>
  <section>
    <div class="example-label">Red (static/ hover /active), TextIcon and Disabled</div>
    <div class="example-button-row">
      <button mat-flat-button class="basic-button basic-red" disableRipple>Delete</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="basic-button basic-red" disableRipple disabled>Delete</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="text-icon-button basic-red" disableRipple>
        <i class="material-icons custom-icon-button">person_add</i>
        Change assignee...
      </button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="text-icon-button basic-red" disableRipple disabled>
        <i class="material-icons custom-icon-button">person_add</i>
        Change assignee...
      </button>
    </div>
  </section>
  <section>
    <div class="example-label">Orange (static/ hover /active), TextIcon and Disabled</div>
    <div class="example-button-row">
      <button mat-flat-button class="basic-button basic-orange" disableRipple>Edit</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="basic-button basic-orange" disableRipple disabled>Edit</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="text-icon-button basic-orange" disableRipple>
        <i class="material-icons custom-icon-button">person_add</i>
        Change assignee...
      </button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="text-icon-button basic-orange" disableRipple disabled>
        <i class="material-icons custom-icon-button">person_add</i>
        Change assignee...
      </button>
    </div>
  </section>
  <section>
    <div class="example-label">Main secondary (static/ hover /active), TextIcon and Disabled</div>
    <div class="example-button-row">
      <button mat-flat-button class="basic-button basic-main-secondary" disableRipple>Cancel</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="basic-button basic-main-secondary" disableRipple disabled>Cancel</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="text-icon-button basic-main-secondary" disableRipple>
        <i class="material-icons custom-icon-button">person_add</i>
        Change assignee...
      </button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="text-icon-button basic-main-secondary" disableRipple disabled>
        <i class="material-icons custom-icon-button">person_add</i>
        Change assignee...
      </button>
    </div>
  </section>
  <mat-divider></mat-divider>
  <p>Icon Buttons:</p>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Accent primary</div>
    <div class="example-button-row">
      <button mat-flat-button class="icon-button basic-blue" disableRipple>
        <i class="material-icons icon-buttom-span">person_add</i>
      </button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="icon-button basic-blue" disableRipple disabled>
        <i class="material-icons icon-buttom-span">person_add</i>
      </button>
    </div>
  </section>
  <section>
    <div class="example-label">Accent secondary</div>
    <div class="example-button-row">
      <button mat-flat-button class="icon-button basic-green" disableRipple>
        <i class="material-icons icon-buttom-span">person_add</i>
      </button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="icon-button basic-green" disableRipple disabled>
        <i class="material-icons icon-buttom-span">person_add</i>
      </button>
    </div>
  </section>
  <section>
    <div class="example-label">Accent alert</div>
    <div class="example-button-row">
      <button mat-flat-button class="icon-button basic-red" disableRipple>
        <i class="material-icons icon-buttom-span">person_add</i>
      </button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="icon-button basic-red" disableRipple disabled>
        <i class="material-icons icon-buttom-span">person_add</i>
      </button>
    </div>
  </section>
  <section>
    <div class="example-label">Accent warning</div>
    <div class="example-button-row">
      <button mat-flat-button class="icon-button basic-orange" disableRipple>
        <i class="material-icons icon-buttom-span">person_add</i>
      </button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="icon-button basic-orange" disableRipple disabled>
        <i class="material-icons icon-buttom-span">person_add</i>
      </button>
    </div>
  </section>
  <section>
    <div class="example-label">Main secondary</div>
    <div class="example-button-row">
      <button mat-flat-button class="icon-button basic-main-secondary" disableRipple>
        <i class="material-icons icon-buttom-span">person_add</i>
      </button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="icon-button basic-main-secondary" disableRipple disabled>
        <i class="material-icons icon-buttom-span">person_add</i>
      </button>
    </div>
  </section>
  <mat-divider></mat-divider>
  <p>Group of actions:</p>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Control panel for orders</div>
    <div class="example-button-row">
      <button mat-flat-button class="control-icon-button control-icon-grey" disableRipple>
        <i class="material-icons control-icon-buttom-span">library_add</i>
      </button>
      <button mat-flat-button class="control-icon-button control-icon-orange" disableRipple>
        <i class="material-icons control-icon-buttom-span">attach_file</i>
      </button>
      <button mat-flat-button class="control-icon-button control-icon-blue" disableRipple>
        <i class="material-icons control-icon-buttom-span">edit</i>
      </button>
      <button mat-flat-button class="control-icon-button control-icon-green" disableRipple>
        <i class="material-icons control-icon-buttom-span">file_copy</i>
      </button>
      <button mat-flat-button class="control-icon-button control-icon-red" disableRipple>
        <i class="material-icons control-icon-buttom-span">delete</i>
      </button>
    </div>
  </section>
  <mat-divider></mat-divider>
  <p>Checkboxes:</p>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">NOT pressed (Static, Hover,Active)</div>
    <div class="example-button-row">
      <mat-checkbox class="checkbox" disableRipple> </mat-checkbox>
    </div>
    <div class="example-button-row">
      <mat-checkbox class="checkbox" [disabled]="true"> </mat-checkbox>
    </div>
  </section>
  <section>
    <div class="example-label">Pressed (Static, Hover,Active)</div>
    <div class="example-button-row">
      <mat-checkbox class="checkbox" disableRipple [checked]="true"> </mat-checkbox>
    </div>
    <div class="example-button-row">
      <mat-checkbox class="checkbox" [checked]="true" [disabled]="true"> </mat-checkbox>
    </div>
  </section>
  <mat-divider></mat-divider>
  <p>Dropdown:</p>
  <mat-divider></mat-divider>
  <section>
    <h1></h1>

    <mat-form-field floatLabel="never" appearance="fill" class="dropdown-modified">
      <mat-select [(ngModel)]="selected2" panelClass="select-panel" [disableOptionCentering]="true">
        <mat-option *ngFor="let option of options2; index as i" [value]="option.id">

          <!-- inner structure -->
          <div class="badge-wrapper b-red">
            <p class="mat-caption m-0 bold status-font">
              {{ i + 1 }}. {{ option.name }}
            </p>
          </div>
          <!--  -->

        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field floatLabel="never" appearance="fill" class="dropdown-modified">

      <mat-select [(ngModel)]="selected2" panelClass="select-panel" [disableOptionCentering]="true">
        <mat-option *ngFor="let option of options2; index as i" [value]="option.id">

          <!-- inner structure -->
          <div class="badge-wrapper b-red">
            <p class="mat-caption m-0 bold status-font">
              {{ i + 1 }}. {{ option.name }}
            </p>
          </div>
          <!--  -->

        </mat-option>
      </mat-select>
    </mat-form-field>

  </section>
  <mat-divider></mat-divider>
  <p>Text fields:</p>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Type:</div>
    <div class="example-button-row">
      <p>
        Simple
      </p>
    </div>
    <div class="example-button-row">
      <p>
        With icon left
      </p>
    </div>
    <div class="example-button-row">
      <p>
        with icon right
      </p>
    </div>
  </section>
  <section>
    <div class="example-label">S/H/A</div>
    <div class="example-button-row">
      <div>
        <input placeholder="Placeholder" class="basic-input">
      </div>
    </div>
    <div class="example-button-row">
      <div class="wrapper-input-with-icon">
        <i class="material-icons input-icon-left">date_range</i>
        <input placeholder="Placeholder" class="basic-input-icon-left">
      </div>
    </div>
    <div class="example-button-row">
      <div class="wrapper-input-with-icon">
        <i class="material-icons input-icon-right">date_range</i>
        <input placeholder="Placeholder" class="basic-input-icon-right">
      </div>
    </div>
  </section>
  <section>
    <div class="example-label">Disabl</div>
    <div class="example-button-row">
      <div>
        <input placeholder="Placeholder" class="basic-input" [disabled]="true">
      </div>
    </div>
    <div class="example-button-row">
      <div class="wrapper-input-with-icon">
        <i class="material-icons input-icon-left">date_range</i>
        <input placeholder="Placeholder" class="basic-input-icon-left" [disabled]="true">
      </div>
    </div>
    <div class="example-button-row">
      <div class="wrapper-input-with-icon">
        <i class="material-icons input-icon-right">date_range</i>
        <input placeholder="Placeholder" class="basic-input-icon-right" [disabled]="true">
      </div>
    </div>
  </section>
  <section>
    <div class="example-label">Label</div>
    <div class="example-button-row">
      <div>
        <p class="mat-display-3 m-0 cap-c label-input">
          Label
        </p>
        <input placeholder="Placeholder" class="basic-input">
      </div>
    </div>
    <div class="example-button-row">
      <p class="mat-display-3 m-0 cap-c label-input">
        Label
      </p>
      <div class="wrapper-input-with-icon">
        <i class="material-icons input-icon-left">date_range</i>
        <input placeholder="Placeholder" class="basic-input-icon-left">
      </div>
    </div>
    <div class="example-button-row">
      <p class="mat-display-3 m-0 cap-c label-input">
        Label
      </p>
      <div class="wrapper-input-with-icon">
        <i class="material-icons input-icon-right">date_range</i>
        <input placeholder="Placeholder" class="basic-input-icon-right">
      </div>
    </div>
  </section>
  <section>
    <div class="example-label">Error</div>
    <div class="example-button-row">
      <div>
        <p class="mat-display-3 m-0 cap-c label-input">
          Label
        </p>
        <input placeholder="Placeholder" class="basic-input error-input">
      </div>
      <p class="mat-display-3 m-0 cap-c label-input-error">
        Please fill in this field
      </p>
    </div>
    <div class="example-button-row">
      <p class="mat-display-3 m-0 cap-c label-input">
        Label
      </p>
      <div class="wrapper-input-with-icon">
        <i class="material-icons input-icon-left">date_range</i>
        <input placeholder="Placeholder" class="basic-input-icon-left error-input">
      </div>
      <p class="mat-display-3 m-0 cap-c label-input-error">
        Please fill in this field
      </p>
    </div>
    <div class="example-button-row">
      <p class="mat-display-3 m-0 cap-c label-input">
        Label
      </p>
      <div class="wrapper-input-with-icon">
        <i class="material-icons input-icon-right">date_range</i>
        <input placeholder="Placeholder" class="basic-input-icon-right error-input">
      </div>
      <p class="mat-display-3 m-0 cap-c label-input-error">
        Please fill in this field
      </p>
    </div>
  </section>

  <mat-divider></mat-divider>
  <p>Statuses:</p>
  <mat-divider></mat-divider>
  <section>

    <div class="example-button-row">
      <div class="status-wrapper s-green">
        <p class="mat-caption m-0 bold status-font">
          NEW
        </p>
      </div>
    </div>
    <div class="example-button-row">
      <div class="status-wrapper s-grey">
        <p class="mat-caption m-0 bold status-font">
          TO_DO
        </p>
      </div>
    </div>
    <div class="example-button-row">
      <div class="status-wrapper s-orange">
        <p class="mat-caption m-0 bold status-font">
          FP_DRAWING
        </p>
      </div>
    </div>
    <div class="example-button-row">
      <div class="status-wrapper s-yellow">
        <p class="mat-caption m-0 bold status-font">
          FP_DRAWING_DONE
        </p>
      </div>
    </div>
    <div class="example-button-row">
      <div class="status-wrapper s-blue">
        <p class="mat-caption m-0 bold status-font">
          FP_FURNISHING
        </p>
      </div>
    </div>
    <div class="example-button-row">
      <div class="status-wrapper s-pink">
        <p class="mat-caption m-0 bold status-font">
          FP_FURNISHING_DONE
        </p>
      </div>
    </div>
    <div class="example-button-row">
      <div class="status-wrapper s-purple">
        <p class="mat-caption m-0 bold status-font">
          CUSTOMER REVIEW
        </p>
      </div>
    </div>
    <div class="example-button-row">
      <div class="status-wrapper s-l-blue">
        <p class="mat-caption m-0 bold status-font">
          ACTION_BASED_ON_FEEDBACK
        </p>
      </div>
    </div>
    <div class="example-button-row">
      <div class="status-wrapper s-d-blue">
        <p class="mat-caption m-0 bold status-font">
          DONE
        </p>
      </div>
    </div>
    <div class="example-button-row">
      <div class="status-wrapper s-red">
        <p class="mat-caption m-0 bold status-font">
          LOST
        </p>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <p>Badges:</p>
  <mat-divider></mat-divider>
  <section>

    <div class="example-button-row">
      <div class="badge-wrapper b-d-blue">
        <p class="mat-caption m-0 bold status-font">
          Floorplan Furnishing
        </p>
      </div>
    </div>
    <div class="example-button-row">
      <div class="badge-wrapper b-red">
        <p class="mat-caption m-0 bold status-font">
          Highest priority
        </p>
      </div>
    </div>
    <div class="example-button-row">
      <div class="badge-wrapper b-orange">
        <p class="mat-caption m-0 bold status-font">
          High priority
        </p>
      </div>
    </div>
    <div class="example-button-row">
      <div class="badge-wrapper b-l-blue">
        <p class="mat-caption m-0 bold status-font">
          Medium priority
        </p>
      </div>
    </div>
    <div class="example-button-row">
      <div class="badge-wrapper b-green">
        <p class="mat-caption m-0 bold status-font">
          Low priority
        </p>
      </div>
    </div>
    <div class="example-button-row">
      <div class="badge-wrapper b-grey">
        <p class="mat-caption m-0 bold status-font">
          Lowest priority
        </p>
      </div>
    </div>

  </section>
  <mat-divider></mat-divider>
  <p>Avatar:</p>
  <mat-divider></mat-divider>
  <section>

    <div class="example-button-row">
      <div class="avatar-outer-wrapper">
        <p class="mat-body-2 m-0 avatar-color">
          Supervisor:
        </p>
        <div class="avatar-inner-wrapper">
          <div class="avatar-img-wrapper">
            <img src="assets/img/avatar-placeholder.jpg" alt="" class="avatar-img">
          </div>
          <div class="avatar-info-wrapper">
            <p class="mat-body-2 m-0 avatar-name-color">
              Mike
            </p>
            <p class="mat-display-3 m-0 cap-c">
              Admin
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="example-button-row">
      <div class="avatar-outer-wrapper">
        <p class="mat-body-2 m-0 avatar-color">
          Assignee:
        </p>
        <div class="avatar-inner-wrapper">
          <div class="avatar-img-wrapper">
            <img src="assets/img/pic-unassigned.svg" alt="" class="avatar-img">
          </div>
          <div class="avatar-info-empty-wrapper">
            <p class="mat-body-2 m-0 avatar-name-empty-color">
              Unassigned
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>

  <mat-divider></mat-divider>
  <p>Example Modal/Dialog:</p>
  <mat-divider></mat-divider>

  <section>
    <div>
      <div class="example-button-row">
        <br />
        <br />
        <button mat-flat-button class="basic-button basic-blue" disableRipple (click)="openExampleModal()">Open Modal</button>
        <br />
        <br />
      </div>
    </div>
  </section>
</div>
